<template lang="pug">
#body
    ul.custom-menu
      li(data-action='drop') drop
      li(data-action='use') use
    .center
      div(style='width: 570px; display: none; padding-bottom: 5px;')
        #sideInventoryTitle.crafting-panel.crafting-title.panel-dark
          span#saveableText Temporary 
          | Side Inventory 
          span#sideInventoryWeight(style='float:right;') 0/500vol.
        #sideInventory.crafting-panel.crafting-title.panel-dark(style='padding: 12px 7px 7px 12px; overflow-y: scroll; max-height: 375px;')
          .crafting-panel.crafting-slot(data-slot='0')
          .crafting-panel.crafting-slot(data-slot='1')
          .crafting-panel.crafting-slot(data-slot='2')
          .crafting-panel.crafting-slot(data-slot='3')
          .crafting-panel.crafting-slot(data-slot='4')
          .crafting-panel.crafting-slot(data-slot='5')
          .crafting-panel.crafting-slot(data-slot='6')
          .crafting-panel.crafting-slot(data-slot='7')
          .crafting-panel.crafting-slot(data-slot='8')
          .crafting-panel.crafting-slot(data-slot='9')
          .crafting-panel.crafting-slot(data-slot='10')
          .crafting-panel.crafting-slot(data-slot='11')
          .crafting-panel.crafting-slot(data-slot='12')
          .crafting-panel.crafting-slot(data-slot='13')
          .crafting-panel.crafting-slot(data-slot='14')
          .crafting-panel.crafting-slot(data-slot='15')
          .crafting-panel.crafting-slot(data-slot='16')
          .crafting-panel.crafting-slot(data-slot='17')
          .crafting-panel.crafting-slot(data-slot='18')
          .crafting-panel.crafting-slot(data-slot='19')
          .crafting-panel.crafting-slot(data-slot='20')
          .crafting-panel.crafting-slot(data-slot='21')
          .crafting-panel.crafting-slot(data-slot='22')
          .crafting-panel.crafting-slot(data-slot='23')
      div(style='width: 570px; display: inline-table;')
        #inventoryTitle.crafting-panel.crafting-title.panel-dark
          | Inventory
          span#inventoryWeight(style='float:right;') 0/500vol.
        #inventory.crafting-panel.crafting-title.panel-dark(style='padding: 12px 7px 7px 12px; overflow-y: scroll; max-height: 375px;')
          .crafting-panel.crafting-slot(  v-for="item in data" :key="item.id" haveone='true', v-on:drop='drop', v-on:dragover='allowDrop', :draggable='true', v-on:dragstart='drag', :data-slot='item.id', :id="'itemx'+item.id" :amount='item.amount', :type='item.type')
            
              img(v-if="typeof item.picture !=`undefined`" draggable='false', :src=' require("./assets/"+item.picture)')
              p(v-if="typeof item.picture !=`undefined`") {{item.name}} X {{item.amount}}


    #context-menu(style='display: none;')
      ul.context-menu-items
        li.context-menu-item
          a.context-menu-link(href='#', data-action='') Trade
        li.context-menu-item
          a.context-menu-link(href='#', data-action='') Drop
        li.context-menu-item
          a.context-menu-link(href='#', data-action='delete') Delete

</template>

<script>
import * as $ from 'jquery'
export default {
    mounted() {
      
        $('.crafting-slot').each(function() {
            $(this).bind("contextmenu", function(event) {
                event.preventDefault();
                this.target = {
                    dataSlot: $(this).attr('data-slot'),
                    amount: $(this).attr('amount'),
                    type: $(this).attr('type')
                };
                $(".custom-menu").finish().toggle(100).
                css({
                    top: event.pageY + "px",
                    left: event.pageX + "px"
                });
            });
        })

        $(document).click(function() {
            $(".custom-menu").hide(100);
        });
        $(".custom-menu li").click(function() {
            this.target.func = $(this).attr("data-action");
            console.log(this.target);
            $(".custom-menu").hide(100);
        });
        //=============================
        //=============================
        //=============================
        //=============================
        //=============================
        //=============================
        //=============================
        if (6 - this.data.length % 6 != 0) {
          let ln =this.data.length;
            for (let index = 0; index < (6 - ln % 6); index++) {this.data.push({
              "id":index+ln+1,
                "picture": undefined,
                "name": undefined,
                "type": undefined,
                "description": undefined,
                "amount": undefined,
                "weight": undefined,
                "use_0": undefined,
                "use_1": undefined ,
                "dontDisplayAmount": undefined,
                "category": undefined,
                "Useable": undefined,
                "inuse": undefined,
                "dropable": undefined
            } )}
        }
        //=============================
        //=============================
        //=============================
        //=============================
        //=============================
        //=============================
    },
    methods: {
        allowDrop: function(ev) {
          
            ev.preventDefault();
        },
        drag: function(ev) {
           if(ev.target)
            this.drag_target.befor_slot = ev.target.getAttribute('data-slot');
            this.drag_target.beforTarget = ev.target
            this.drag_target.type = ev.target.getAttribute('type');
            this.drag_target.innerHtml = ev.target.innerHTML
            this.drag_target.amount = ev.target.getAttribute('amount')
            console.log(this.drag_target)
        },
        drop: function(ev) {
           
            ev.preventDefault();
            if (ev.currentTarget.getAttribute('data-slot')) {
                this.evTarget = ev.currentTarget;
            } else {
                this.evTarget = ev.target;
            }
            if (this.evTarget.getAttribute('haveone') === 'false') {
                this.drag_target.now_alot = this.evTarget.getAttribute('data-slot');
                this.evTarget.innerHTML = this.drag_target.innerHtml
                this.evTarget.setAttribute('haveone', "true")
                this.drag_target.beforTarget.innerHTML = ""
                this.drag_target.beforTarget.setAttribute('haveone', "false")
                let tmp1 = this.drag_target.beforTarget.getAttribute('amount');
                let tmp2 = this.drag_target.beforTarget.getAttribute('type');
                this.evTarget.setAttribute('type', tmp2)
                this.evTarget.setAttribute('amount', tmp1)
                // برای جا به جایی ایتم ها
                console.log(this.drag_target)
            } else {
                this.drag_target.now_slot = this.evTarget.getAttribute('data-slot');
                let tmp1 = this.drag_target.beforTarget.getAttribute('amount');
                let tmp2 = this.drag_target.beforTarget.getAttribute('type');
                this.drag_target.beforTarget.setAttribute('type', this.evTarget.getAttribute('type'))
                this.drag_target.beforTarget.setAttribute('amount', this.evTarget.getAttribute('amount'))
                this.evTarget.setAttribute('type', tmp2)
                this.evTarget.setAttribute('amount', tmp1)
                let tmp = this.evTarget.innerHTML;
                this.evTarget.innerHTML = this.drag_target.innerHtml
                this.drag_target.beforTarget.innerHTML = tmp;
                // اگه دوتا آیتم با هم جاشون عوض بشه 
                console.log(this.drag_target)
            }
        }
    },
    data() {
        return {
            evTarget: "",
            drag_target: {},
            target: {},
            data: [{
                "id":1,
                "picture": "bagItem.png",
                "name": "Cannabis",
                "type": 11,
                "description": "",
                "amount": 1,
                "weight": 0.9,
                "use_0": "Usar Item",
                "use_1": "Dar Item",
                "dontDisplayAmount": false,
                "category": "Guest",
                "Useable": false,
                "inuse": 0,
                "dropable": 1
            }, {"id":2,
                "picture": "ammo.png",
                "name": "Cocaine",
                "type": 16,
                "description": "",
                "amount": 1,
                "weight": 0.6,
                "use_0": "Usar Item",
                "use_1": "Dar Item",
                "dontDisplayAmount": false,
                "category": "Utilizaveis",
                "Useable": true,
                "inuse": 0,
                "dropable": 1
            }, {"id":3,
                "picture": "stingerItem.png",
                "name": "Backpack",
                "type": 10,
                "description": "",
                "amount": 1,
                "weight": 1.0,
                "use_0": "Usar Item",
                "use_1": "Dar Item",
                "dontDisplayAmount": false,
                "category": "Diversos",
                "Useable": true,
                "inuse": 0,
                "dropable": 1
            }]
        }
    }
}
</script>

<style scoped>
#crafting-recipes {}

.crafting-panel {
    width: 100%;
    font-size: 20px;
    padding: 3px 17.5px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    text-shadow: black 1px 1px 2px;
}

.crafting-panel:not(:last-child):not(.crafting-queue) {}

.crafting-panel.active {
    background-color: rgba(11, 101, 0, 0.5);
}

.crafting-title {
    font-weight: bold;
}

.crafting-ingredient {
    font-size: 17.5px;
    color: #fdff70;
    display: inline-block;
}

.crafting-ingredient:nth-child(even) {
    color: white;
}

.crafting-ingredient {
    margin-left: 5px;
}

.crafting-queue {
    padding: 0;
    width: 68px;
    height: 68px;
    text-align: center;
    background: linear-gradient(rgba(11, 101, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 0%);
}

.crafting-queue:not(:last-child) {
    margin-right: calc((100% - 7 * 68px) / 6);
}

.fa.fa-times {
    color: #ff6e6e;
    font-size: 15px;
    top: 2.5px;
    right: 4px;
    position: absolute;
}

.timer {
    width: 100%;
    left: 0;
    bottom: 3px;
    position: absolute;
    color: white;
    font-size: 12.5px;
}

.crafting-slot {
    margin-right: 5px;
    width: 85px;
    height: 85px;
    text-align: center;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
}

.crafting-slot>p {
    text-align: center;
    font-size: 11px;
    margin: 1px;
}

.crafting-slot>img {
    height: 50px;
    width: 50px;
}

.crafting-slot:hover {
    background-color: rgba(11, 101, 0, 0.25);
}

.slot-name {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
}

.slot-info {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
}

.slot-item,
.slot-item-locked {
    pointer-events: none;
}

.slot-indicator {
    position: absolute;
    font-size: 16px;
    top: 5px;
    right: 5px;
    color: white;
}

@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
.accordion {
    color: #FFF;
    width: 100%;
}

.accordion .section {
    width: 100%;
}

.accordion .section input[type='radio'] {
    display: none;
}

.accordion .section input[type='radio']:checked+label {
    background: #363636;
}

.accordion .section input[type='radio']:checked+label:before {
    content: " ";
    position: absolute;
    border-left: 3px solid #21CCFC;
    height: 100%;
    left: 0;
}

.accordion .section input[type='radio']:checked~.content {
    max-height: 300px;
    opacity: 1;
    z-index: 10;
    overflow-y: auto;
}

.accordion .section label {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    display: table;
    background: #222;
    width: 100%;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.accordion .section label:before {
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    border-top: 1px solid #363636;
}

.accordion .section label:hover {
    background: #363636;
}

.accordion .section label span {
    display: table-cell;
    vertical-align: middle;
}

.accordion .top.section {
    box-sizing: unset;
    -webkit-box-sizing: unset;
}

.accordion.top {
    display: flex;
}

.accordion:not(.top) .section:last-of-type {
    border-bottom: 1px solid #363636;
}

.accordion .section .content {
    max-height: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    position: relative;
    overflow-y: hidden;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    user-select: none;
    overflow: hidden;
    background: transparent;
    font-family: 'Quicksand', sans-serif;
}

.left-menu {
    background: #222;
    width: 200px;
    display: inline-block;
    min-height: 100%;
}

.accordion {
    font-size: 14px;
}

.accordion .section .content {
    padding: 0 15px;
}

.accordion .section input[type='radio'] {
    display: none;
}

.accordion .section input[type='radio']:checked~.content {
    padding: 15px;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    padding: 10px;
}

ul li i {
    font-size: 13px;
    width: 15px;
    margin-right: 15px;
}

ul li:hover {
    cursor: pointer;
}

ul li:hover i {
    color: #21CCFC;
}

.split-right {
    width: 50%;
    float: right;
}

.split-left {
    width: 50%;
    float: left;
}

.logo {
    padding: 30px 10px;
    width: 200px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

.logo i {
    font-size: 70px;
    color: #21CCFC;
}

.logo a {
    font-size: 12px;
}

.panel {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 25px 40px;
    border-bottom: solid 4px #337ab7;
}

.panel-dark {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
}

.c-panel {
    width: 100%;
    font-size: 20px;
    padding: 10px 17.5px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    text-shadow: black 1px 1px 2px;
}

.c-panel:not(:last-child):not(.crafting-queue) {
    margin-bottom: 5px;
}

.c-panel.active {
    background-color: rgba(11, 101, 0, 0.5);
}

.c-title {
    font-weight: bold;
}

.list-item-text {
    font-size: 17.5px;
    color: #fdff70;
    display: block;
}

.list-item-text:nth-child(even) {
    color: white;
}

.outer-title {
    text-transform: uppercase;
    text-shadow: black 1px 1px 2px;
    color: white;
    font-size: 22px;
    margin-bottom: 5px;
}

::placeholder {
    color: white;
    opacity: 0.75;
}

.panel-scale {
    width: 50%;
    min-height: 100%
}

.notification {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    padding: 25px 40px;
    border-bottom: solid 4px #337ab7;
}

.panel-header {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 10px;
}

.panel-header>hr {
    border: solid .5px #337ab7;
}

.right-bottom {
    position: absolute;
    top: 60%;
    left: 88%;
    transform: translateX(-50%) translateY(-50%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.centered-top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.centered-right {
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
}

input {
    color: white;
    background: none;
    outline: none;
    border: none;
    cursor: default;
    border-bottom: 1px solid white;
}

input:focus {
    border-bottom: 2px solid #337ab7;
}

textarea {
    resize: none;
    color: white;
    background: none;
    outline: none;
    cursor: default;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

textarea:focus {
    border: 1px solid #337ab7;
}

.text-area {
    overflow: auto;
}

.text-area p {
    margin: 5px;
}

.text-area::-webkit-scrollbar {
    width: 10px;
}

.text-area::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.text-area::-webkit-scrollbar-thumb {
    background: #888;
}

.text-area::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn {
    outline: none;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1.5px solid transparent;
    border-radius: 6px;
}

.btn-default {
    color: white;
    background: none;
    border-color: white;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: white;
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox {
    color: #cbcbcb;
    margin-bottom: 15px;
}

.checkbox>.fa {
    font-size: 20px;
}

.checkbox.checked {
    color: white;
}

.checkbox:hover {
    color: white;
}

.checkbox.checked>.fa {
    color: #4caf50;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px double #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.quiz-code {
    text-align: center;
    font-size: 10px;
    color: grey;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
}

#context-menu a {
    color: inherit;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-shadow: black 1px 1px 2px;
}

.context-menu-item:hover {
    background-color: rgba(11, 101, 0, 0.25);
}

#context-menu {
    background: rgba(0, 0, 0, 0.65);
    width: 90px;
    color: white;
    position: absolute;
    text-align: center;
    border: 1px solid white;
}

/*======================================================================= */

.custom-menu {
    display: none;
    z-index: 1000;
    width: 100px;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}
</style>